/******************** 
Philip Miljanic
Comp20 
Lab 4
responsive.css
********************/
/*curr dim 625x625*/
@media screen 
	and (min-device-width: 1600px){
		/*top left*/
		.homer{
			width: 312px; 
			height: 312px;
			background: url(homer.jpg) 0 0px;
		}
}
@media screen
	and (min-device-width: 1400px)
	and (max-device-width: 1600px){
	/*top right*/
		.homer{
			width: 312px; 
			height: 312px;
			background: url(homer.jpg) -312 0px;
		}
}
@media screen
	and (min-device-width: 1200px)
	and (max-device-width: 1400px){
	/*bottom left*/
		.homer{
			width: 312px; 
			height: 312px;
			background: url(homer.jpg) 0 -312px;
		}
}
@media screen
	and (min-device-width: 1000px)
	and (max-device-width: 1200px){
	/*bottom right*/
		.homer{
			width: 312px; 
			height: 312px;
			background: url(homer.jpg) -312 -312px;
		}
}
@media screen
	and (min-device-width: 800px)
	and (max-device-width: 1000px){
	/*bottom left*/
		.homer{
			width: 312px; 
			height: 312px;
			background: url(homer.jpg) 0 -312px;
		}
}
@media screen
	and (min-device-width: 600px)
	and (max-device-width: 800px){
	/*top right*/
		.homer{
			width: 312px; 
			height: 312px;
			background: url(homer.jpg) -312 0px;
		}
}
@media screen
	and (max-device-width: 600px){
	/*top left*/
		.homer{
			width: 312px; 
			height: 312px;
			background: url(homer.jpg) 0 0px;
		}
}